@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Roboto&display=swap');

:root{
  --white: #FBFDFE;
  --black: #171810;
  --turquoise: #29F3E2;
  --mulberry: #C6488C;
  --fuschia: #ff00ff;
  --lavender: #c8c6d7;
  --lava: #463F3A;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background: var(--white);
    color: var(--black);
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Fira Code', monospace;
}



